<form class="template-form" [formGroup]="templateForm" (ngSubmit)="submit()">
  <div
    formArrayName="templates"
    *ngFor="let template of templateForm.get('templates')['controls']; let i = index; last as isLast"
  >
    <div [formGroupName]="i" class="template-form">
      <mat-form-field class="template-form-field-width" appearance="fill">
        <mat-label>Key</mat-label>
        <input matInput placeholder="Hotkey to replace" required formControlName="key">
      </mat-form-field>
      <br/>
      <mat-form-field class="template-form-field-width" appearance="fill">
        <mat-label>Replace with</mat-label>
        <textarea matInput placeholder="Template" required formControlName="value" rows="15"></textarea>
      </mat-form-field>
      <div class="template-options-bar">
        <span></span>
        <button mat-raised-button color="warn" (click)="delete(template.value.id, i)" class="template-form-delete-button">Delete</button>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="template-form-buttons">
    <button mat-raised-button color="primary" (click)="addEmptyTemplateForm(); $event.preventDefault()" class="template-form-button">Add template</button>
    <button mat-raised-button color="primary" class="template-form-button">Save</button>
    <button mat-raised-button color="warn" class="template-form-button" id="delete-all-templates-button" (click)="deleteAllTemplates()">Delete all
      templates
    </button>
  </div>
</form>
